---
---

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800)
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap')

*, *:before, *:after
  box-sizing: inherit
  margin: 0
  padding: 0
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

html
  box-sizing: border-box
  font-family: 'Raleway', sans-serif
  color: rgba(0,0,0,0.70)
  background: #FEF9F7

// colors

$first: #62BFE1

$second: #DD9ABA

$third: #EDD15D

$fourth: #91DDCB

$fifth: #F9F8F7

$dark-70: rgba(0, 0, 0, 0.7)

$dark-50: rgba(0, 0, 0, 0.5)

$dark-30: rgba(0, 0, 0, 0.3)

$dark-12: rgba(0, 0, 0, 0.12)

// headings

h1
  font-family: 'Raleway', sans-serif
  font-size: 41px
  font-weight: 300

h2
  font-size: 32px
  color: $first

h3
  font-size: 26px  

h4
  font-size: 19px

p
  font-size: 18px
  line-height: 28px
  color: $dark-50
a
  font-size: 18px 
  text-decoration: none
  font-weight: 500
  color: $second
  
a:hover
  color: $second
  text-decoration: underline

img 
  width: 100%

$gutter: 15px
$container: 950px

hr 
  color: $dark-12
  opacity: 0.2

// flexbox system
.flex-25
  flex: 1 1 25%
  padding: $gutter

.flex-33
  flex: 1 1 33.3333%
  padding: $gutter

.flex-50
  flex: 1 1 50%
  padding: $gutter

.flex-66
  flex: 1 1 66.6666%
  padding: $gutter

.flex-100
  flex: 1 1 100%
  padding: $gutter

// buttons

.btn
  color: $dark-50
  font-size: 20px
  border-radius: 100px
  text-align: center
  padding: 20px 60px
  text-decoration: none
  font-weight: bold
  display: inline-block
  transition: all 250ms ease
  &--main
    background: $first
    color: white
    font-weight: 500
    text-align: center
    padding: 16px 25px
    border-radius: 12px
    margin: 20px
    -webkit-box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.15)
    -moz-box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.15)
    box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.15)
    transition: all 0.3s ease-out
  &--main:hover
    background: $first
    color: white
    text-decoration: none
    transform: translate(0, -3px)
    webkit-box-shadow: 0px 8px 17px -9px rgba(0,0,0,0.40)
    -moz-box-shadow: 0px 8px 17px -9px rgba(0,0,0,0.40)
    box-shadow: 0px 8px 17px -9px rgba(0,0,0,0.40)
  &--white
    background: white
    color: $dark-50
    padding: 20px 60px
    border-radius: 100em
    margin: 20px
    -webkit-box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.15)
    -moz-box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.15)
    box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.15)
    transition: all 0.3s ease-out
  &--white:hover
    background: white
    color: $dark-50
    text-decoration: none
    transform: translate(0, -3px)
    -webkit-box-shadow: 0px 16px 30px -5px rgba(0,0,0,0.35)
    -moz-box-shadow: 0px 16px 70px -5px rgba(0,0,0,0.35)
    box-shadow: 0px 16px 70px -5px rgba(0,0,0,0.35)


.active
  font-weight: 800   

header
  color: $dark-70

nav
  max-width: $container
  margin: 0 auto
  height: 100px
  justify-content: space-between
  display: flex
  flex-direction: row
  align-items: center
  padding: 20px
  flex-wrap: wrap

.navBullets, .navBullets--dark
  display: flex
  flex-direction: row

.navBullets li, .navBullets--dark li
  padding: 12px 0 12px 65px
  list-style: none

.navBullets li a
  color: $dark-70
  &:hover
    text-decoration: underline

.navBullets--dark li a
  color: $dark-50
  &:hover
    text-decoration: underline

.logo
  display: flex
  color: $dark-70
  align-items: center
  & h4
    font-size: 26px
    letter-spacing: -1px
 
.avatar
  width: 135px
  border-radius: 100em
  margin: 0px 60px 0px 12px


.hero
  max-width: 1000px
  margin: 0 auto
  text-align: center
  padding: 25px 10px 80px

  h1
    font-size: 75px
    font-weight: 900
    line-height: 82px
    text-align: center

.cards__container
  display: flex
  padding: 40px 10px
  justify-content: space-around
  flex-flow: wrap


.card
  max-width: 200px
  min-height: 175px
  font-size: 22px
  text-align: center
  font-weight: bold
  position: relative
  padding: 20px 16px 
  margin: 10px
  color: $dark-50
  font-family: 'Kalam', sans-serif
  line-height: 22px

  img
    padding-top: 10px 

.card::after, .card::before
  position: absolute
  content: ""
  width: 50%
  height: 100px
  z-index: -1
.card:before
  top: 100px
  left: 0
  transform: rotate(-5deg)
  box-shadow: 6px 8px 8px #929292
.card:after
  top: 100px
  right: 0
  transform: rotate(5deg)
  box-shadow: -6px 8px 8px #929292
  
.card:nth-child(1)
  background: #62BFE1
  top: 5px
.card:nth-child(2)
  background: #DD9ABA
  top: 62px
.card:nth-child(3)
  background: #EDD15D
.card:nth-child(4)
  background: #91DDCB
  top: 42px


.summary
  max-width: $container
  margin: 0 auto
  display: flex
  flex-direction: row
  padding: 30px 
  & h2
    font-weight: 800
    width: 30%
    padding-right: 10px
    color: $dark-70
  & p
    column-count: 2
    column-gap: 40px  
    width: 90%
    color: $dark-70
.title-work
  text-align: center
  padding: 60px 0px 0px
#work    
  max-width: $container
  margin: 0 auto
  display: flex
  flex-direction: row
  & .work__column
    padding: 25px
    width: 50%
    text-align: center

  & h3
    padding-top: 25px
    font-weight: 300
  & .thumbnail
    width: 100%
    background: $first
    position: relative
  & img
    width: 100%
    margin: 30px 0
    transition: all 0.3s ease-out
    &:hover
      box-shadow: 0 38px 43px $dark-12
      transform: translate(0, -10px)

  & :nth-child(2)
    margin-top: 100px 

.summaryFull  
  max-width: $container
  margin: 0 auto
  display: flex
  flex-direction: row
  padding: 30px 0px
  & h1,img
    padding: 20px 0
    max-width: 475px


.experience
  max-width: $container
  margin: 0 auto
  padding: 30px 20px
  &__item
    padding: 35px 0px
  &__data
    display: flex
    justify-content: space-between
    padding: 20px 0 
    & h4
      font-weight: 300
.skills
  max-width: $container
  margin: 0 auto
  padding: 30px 0px
  h2
    padding: 0 15px
  .skills__container
    display: flex
    flex-direction: row
    & h4
      padding: 30px 0 0
    &__item
      padding: 10px 0
      & li
        display: inline-block
        background: white
        padding: 10px 25px
        border-radius: 100px
        margin: 15px 8px 0 0

.education
  max-width: $container
  margin: 0 auto
  display: flex
  flex-direction: column
  padding: 30px 20px 30px
  h4
    font-weight: 300
  &__item
    padding: 20px 0  
  &__data
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 20px 0
  &__cv
    margin: 20px 0
    padding: 50px 0
    text-align: center
    border-radius: 20px
    font-weight: 800
    background: white
  &__pdf
    width: 25px
    margin: 0 10px

footer
  display: flex
  justify-content: center
  margin: 75px 20px

.footer__wrapper
  display: flex
  width: 795px
  align-items: center
  justify-content: center
  flex-direction: column
  height: 300px
  background: #ffffff url('../img/cta-bg.svg') no-repeat center
  border-radius: 20px
  padding: 30px 50px
  border: 1px solid $dark-12
 
footer h2 
  text-align: center
  color: $dark-70
  font-weight: bold
  max-width: 450px
  


@media (min-width: 200px) and (max-width: 979px)
  .hero
    height: auto
    
  .hero h1
    font-size: 48px
    line-height: 60px
    
  .hero__message
    width: 80%
  .card
    position: initial
  .card::after, .card::before
    position: initial
  .summary
    max-width: $container
    margin: 0 auto
    display: flex
    flex-direction: column
    padding: 30px 
    & h2
      font-weight: 800
      width: 100%
      padding-right: 10px
    & p
      column-count: 1
      column-gap: 0 
      width: 100%
      padding: 30px 0
      color: $dark-50
  #work    
    max-width: $container
    margin: 0 auto
    display: flex
    flex-direction: column-reverse
    & .work__column
      padding: 25px
      width: 100%
      text-align: center
    & :nth-child(2)
      margin-top: 0px 

  .summaryFull  
    flex-direction: column
    padding: 30px 0px
  .skills
    & .skills__container  
      flex-direction: column
  

@media (min-width: 980px) and (max-width: 1000px)
  .summary
    max-width: $container
    margin: 0 auto
    display: flex
    flex-direction: column
    padding: 30px 

    & h2
      font-weight: 800
      width: 50%
      padding-right: 10px
   




