---
title: fer guevara | UX/UI Designer
---
{% include head.html %}
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPDDZV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
        <nav>
            <a href="index.html" class="logo">             
                <h4>Fer Guevara</h4> 
            </a>
        
            <ul class="navBullets">
                <li><a class="active" href="#work">Work</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <div class="hero">
            <h1>Improving the impact of your products by:</h1>
            <div class="cards__container">
                <div class="card">
                    Saving a lot of  time
                    <img src="img/clock.svg" alt="">
                </div>
                <div class="card">
                    Launching innovative features
                    <img src="img/bicy.svg" alt="">
                </div>
                <div class="card">
                    Making users happy
                    <img src="img/good.svg" alt="">
                </div>
                <div class="card">
                    Increasing conversion rates & ROI
                    <img src="img/money.svg" alt="">
                </div>
                

            </div>
        </div>
    </header>
    <section class="summary">
        <div>
            <img class="avatar" src="img/fer-guevara-avatar.jpg" alt="">
        </div>
        
        <p>Hi, my name is Fernando Guevara. i’m a Designer currently bringing to life simple and elegant experiences at @Acklen Avenue.<br/>

        For the last 8 years i have been building awesome software products and services hand-in-hand with developers and multi-functional teams across different industries.<br/>
        
        My approach is based on human centered design and Lean / Agile methodologies. Learning from users first, identify and validate hypotheses that work and test ideas as soon as possible. <br/> 

        My goal is to create simple products that  people really want to use.<br/> <a href="about.html"> More about me</a></p>
    </section>

    <h3 class="title-work">Some of the projects I am proud of</h3>

    <section id="work">
        <div class="flex-70 work__column">
            <a target="_blank" href="https://www.behance.net/gallery/57760081/Social-Wifi-Product-Design">
                <img data-aos="fade-up" data-aos-duration="1000" src="img/socialwifi.png" alt="social wifi">
            </a>
            <a target="_blank" href="https://www.behance.net/gallery/57821503/Newsletter-for-the-Digital-Laureate-Exchange">
                <img data-aos="fade-up" data-aos-duration="6000" src="img/dlx.png" alt="digital laureate exchange">
             </a>
            <h3><a target="_blank" href="https://www.behance.net/fernandoguevara">View More</a></h3>
        </div>
        <div class="flex-30 work__column">
            <a target="_blank" href="https://www.behance.net/gallery/58249023/mailforgeco-website-email-templates-for-entrepeneurs">
                <img data-aos="fade-up" data-aos-duration="3000" src="img/mailforge.png" alt="mailforge.co">
            </a>
            <a target="_blank" href="https://www.behance.net/gallery/58000097/Doo-Drop-App">
                <img data-aos="fade-up" data-aos-duration="8000" src="img/doodrop.png" alt="Doo Drop App">
            </a>   
        </div>
    </section>
    {% include footer.html %}
</body>
</html>
