---
title: fer guevara | UX/UI Designer
---
{% include head.html %}
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPDDZV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
        <nav>
            <div class="logo">
             <a href="index.html"> <img src="img/ferG.svg" alt="Logo"></a>
            </div>

            <ul class="navBullets">
                <li><a class="active" href="#work">Work</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <div class="hero">
            <div class="hero__message" data-aos="fade-right"><h1>Helping great companies to build <span>epic</span> apps &amp; websites</h1></div>
            <div class="hero__image"><img class="bellerophon" src="img/bellerophon.svg" alt="bellerophon"></div>
        </div>
           <div class="wave"></div> 
    </header>
    <section class="summary">
        <h2  data-aos="fade-up" data-aos-duration="1800" >From  idea<br/> to launch</h2>
        <p data-aos="fade-up" data-aos-duration="1800">Hi, I’m Fernando Guevara. An UX/UI designer currently bringing to life simple and elegant experiences at Acklen Avenue.<br/><br/>

        For the last 6 years i have been building awesome software products and services hand-in-hand with developers and multi-functional teams across different industries.
        
        My approach is based on human centered design and Lean / Agile methodologies. Learning from users first, identify and validate hypotheses that work and  test ideas as soon as possible. <br/><br/>

        The goal is to create things people want to use and they will actually buy. <a href="about.html"> More about me</a></p>
    </section>
    <section id="work">
        <div class="flex-70 work__column">
            <a target="_blank" href="https://www.behance.net/gallery/57760081/Social-Wifi-Product-Design">
                <img data-aos="fade-up" data-aos-duration="1000" src="img/socialwifi.png" alt="social wifi">
            </a>
            <a target="_blank" href="https://www.behance.net/gallery/57821503/Newsletter-for-the-Digital-Laureate-Exchange">
                <img data-aos="fade-up" data-aos-duration="6000" src="img/dlx.png" alt="digital laureate exchange">
             </a>
            <h3><a target="_blank" href="https://www.behance.net/fernandoguevara">View More</a></h3>
        </div>
        <div class="flex-30 work__column">
            <a target="_blank" href="https://www.behance.net/gallery/58249023/mailforgeco-website-email-templates-for-entrepeneurs">
                <img data-aos="fade-up" data-aos-duration="3000" src="img/mailforge.png" alt="mailforge.co">
            </a>
            <a target="_blank" href="https://www.behance.net/gallery/58000097/Doo-Drop-App">
                <img data-aos="fade-up" data-aos-duration="8000" src="img/doodrop.png" alt="Doo Drop App">
            </a>   
        </div>
    </section>
    {% include footer.html %}
</body>
</html>
