<!DOCTYPE html>
<!--
   ___                                                       
  / _/__ _______ ___ _____ _  _____ ________ _ _______  __ _ 
 / _/ -_) __/ _ `/ // / -_) |/ / _ `/ __/ _ `// __/ _ \/  ' \
/_/ \__/_/  \_, /\_,_/\__/|___/\_,_/_/  \_,_(_)__/\___/_/_/_/
           /___/    
thank you for your visit!
-->
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <title>Fer Guevara | UX/UI Designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="i help great startups to build epic apps &amp; websites" />
    <meta name="keywords" content="UX,UI,UX/UI design, Designer, development, marketing, start-up" />
    <meta name="author" content="Fernando Guevara" />
    <!-- Facebook -->
    <meta property="og:url" content="http://ferguevara.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fer Guevara - UX/UI Designer " />
    <meta property="og:description" content="I help great startups to build epic apps &amp; websites" />
    <meta property="og:image" content="img/thumbnail.png" />
    <meta property="og:image:type" content="image/png" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="ferguevara.com" />
    <meta name="twitter:creator" content="@hi_ferguevara" />
    <meta name="twitter:image" content=“img/thumbnail.png” />
    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <meta name="theme-color" content="#76AADB">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-NPDDZV5');</script>
   <!-- End Google Tag Manager -->
</head>
